@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    margin:50px 150px;
    padding:50px 100px;
    
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    margin:50px 150px;
    padding:20px 100px;
}

.topic {
    background: lightgray;
    /*add CSS here*/
     /*text-align: center*/
     
     /*margin-left: 50px;*/
     /*margin-right:50px;*/
     
     /*padding: 10px 10px;*/
     
     width:100px;
     margin: auto ;
}

